[tool.poetry]
name = "hrepr"
version = "0.6.2"
description = "Extensible HTML representation for Python objects."
authors = ["Olivier Breuleux <breuleux@gmail.com>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/breuleux/hrepr"
repository = "https://github.com/breuleux/hrepr"
classifiers = [
    'Development Status :: 4 - Beta',
    'Intended Audience :: Developers',
]

[tool.poetry.dependencies]
python = "^3.8"
ovld = "^0.3.2"

[tool.poetry.group.dev.dependencies]
pytest = ">=7.2.0"
pytest-cov = ">=4.0.0"
pytest-regressions = ">=2.4.1"
ruff = "^0.4.8"

[tool.pytest.ini_options]
filterwarnings = [
    "ignore:coroutine '_coro' was never awaited",
]

[tool.coverage.run]
omit = [
    "hrepr/textgen.py"
]

[build-system]
requires = ["poetry-core>=1.3.2"]
build-backend = "poetry.core.masonry.api"

[tool.ruff]
line-length = 80

[tool.ruff.lint]
extend-select = ["I"]
ignore = ["E241", "F722", "E501", "E203", "F811", "F821"]

[tool.ruff.lint.per-file-ignores]
"__init__.py" = ["F401", "F403"]
