
:root, :host {
	--instance-color: #00a;
	--dict-color: #00a;
	--tuple-color: #080;
	--list-color: #080;
	--set-color: #080;
	--frozenset-color: #88f;
	--titled-box-radius: 0px;
}

/* Scalar/string formatting */

.hreprv-True, .hreprv-False, .hreprv-None, .hreprt-int, .hreprt-float {
	font-weight: bold;
}

.hreprt-int, .hreprt-float {
	color: #88f;
}

.hreprt-str {
	color: #666;
	white-space: pre;
}

.hreprt-str:before {
	content: "“";
	color: #888;
}

.hreprt-str:after {
	content: "”";
	color: #888;
}

.hreprt-bytes {
	color: #666;
	font-family: monospace;
	white-space: pre;
}

.hreprt-bytes:before {
	content: "b“";
	/* font-family: normal;
	color: #888; */
}

.hreprt-bytes:after {
	content: "”";
	/* font-family: normal;
	color: #888; */
}

.hreprv-True {
	color: green;
}

.hreprv-False {
	color: red;
}

.hreprv-None {
	color: grey;
}

/* Generic object formatting */

.hrepr-title, .hrepr-short-instance {
	background: var(--instance-color);
	color: white;
	vertical-align: middle;
	display: flex;
	align-items: center;
}

.hrepr-titled-v > .hrepr-title, .hrepr-short-instance {
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.hrepr-titled-h > .hrepr-title {
	padding-left: 2px;
	padding-right: 2px;
}

.hrepr-titled-h > .hrepr-title:first-child {
	padding-right: 5px;
}

.hrepr-titled-h > .hrepr-title:last-child {
	padding-left: 5px;
}

.hrepr-titled-h, .hrepr-contents-h {
	display: flex;
	flex-direction: row;
}

.hrepr-titled-v, .hrepr-contents-v {
	display: flex;
	flex-direction: column;
}

.hrepr-titled-h, .hrepr-titled-v {
	display: inline-flex;
	border: 1px solid var(--instance-color);
	border-radius: var(--titled-box-radius);
	background: #fff;
}

.hrepr-contents-h {
	align-items: center;
	flex-wrap: wrap;
}

.hrepr-contents-h > * {
	margin-left: 2px;
	margin-right: 2px;
}

.hrepr-contents-h > :nth-child(odd),
.hrepr-contents-v > :nth-child(odd),
.hrepr-instance-table > tbody > tr:nth-child(odd) {
	background: #fff;
}

.hrepr-contents-h > :nth-child(even),
.hrepr-contents-v > :nth-child(even),
.hrepr-instance-table > tbody > tr:nth-child(even) {
	background: #ddd;
}

.hrepr-instance-table {
	display: inline-block;
	border-collapse: collapse;
	width: 100%;
	border-radius: var(--titled-box-radius);
}

.hrepr-instance-table > tbody > tr > td {
	padding-left: 5px;
	padding-right: 5px;
}

.hrepr-instance-table > tbody > tr > td.hrepr-delimiter {
	padding: 0px;
}

/* .hrepr-instance-table > tbody > tr > td > * {
	display: inline-block;
} */

.hrepr-instance-kvpair {
	padding-left: 5px;
	padding-right: 5px;
	background: #eee;
}

/* Colorize boxes for standard data structures */

.hreprt-dict { border: 1px solid var(--dict-color); }
.hreprt-dict > .hrepr-title { background: var(--dict-color); }

.hreprt-tuple { border: 1px solid var(--tuple-color); }
.hreprt-tuple > .hrepr-title { background: var(--tuple-color); }

.hreprt-list { border: 1px solid var(--list-color); }
.hreprt-list > .hrepr-title { background: var(--list-color); }

.hreprt-set { border: 1px solid var(--set-color); }
.hreprt-set > .hrepr-title { background: var(--set-color); }

.hreprt-frozenset { border: 1px solid var(--frozenset-color); }
.hreprt-frozenset > .hrepr-title { background: var(--frozenset-color); }

.hreprs-list { background: var(--list-color); color: white; padding: 2px; }

.hrepr-ellipsis {
	font-weight: bold;
}

.hrepr-ref {
	font-weight: bold;
	color: magenta;
}

.hrepr-refbox {
	display: inline-block;
	position: relative;
}

/* .hrepr-refbox > :first-child {
	position: absolute;
	color: white;
	background: magenta;
	padding: 2px;
	font-size: 9px;
	left: 0px;
	top: 0px;
} */
